$num: 0; //循环计数器
$sum: 120; //循环次数，用于控制生成class的数量
$step: 1; //步长
$pixis: "px"; //单位
//颜色数组，可拓展，下方2个数组长度必须一致
$color_name_list: "blue", "green", "yellow", "red", "gray";
$color_list: #007aff, #4cd964, #f0ad4e, #dd524d, #636e72;